<h1><%= @follower.name %> start following to you</h1>
<p>
    Now (<%=Time.current%>) <%= @follower.name %> are start follow to you.
    User's page: <%=user_url(@follower)%>
</p>
<p>Have a great day!</p>
