<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are follow to <%= @user.name %></h1>
    <p>
        Now (<%=Time.current%>) you are start follow to <%= @user.name %>.
        User's page: <%=user_url(@user)%>
        If you dont following to this user, please check ypur activity and maybe change password
    </p>
    <p>Have a great day!</p>
  </body>
</html>
