<div class="page-content h-full mt-8">
    <div class="container mx-auto flex h-full max-w-3xl">
        <div class="feeds w-full">
            <div class="feed-wrapper">

                <%@posts.each do |post|%>

                    <%= render partial: "post/onepost", locals: {post: post} %>

                <%end%>
            </div>
        </div>
    </div>
</div>

<%if @posts.count > 2%>
    <%= render "post/scrolltop" %>
<%end%>