<div>Users</div>

<a href='/user/new'>New User</a>
<br>

<%@user.each do |usr|%>
    <div>
        <br>
        <a href='/user/<%=usr.id%>'>Name: <%=usr.name%></a>
        <div>Email: <%=usr.email%></div>
    </div>
<%end%>
