<a href='/user'>Back</a>

<div>User</div>


<div>Name: <%= @user.name%></div>
<div>Email: <%= @user.email%></div>

<%if (current_user.id != @user.id)%>
    <%if @follower%>
        <a href='/user/<%=@user.id%>/unfollow'>Unfollow</a>
    <%else%>
        <a href='/user/<%=@user.id%>/follow'>Follow</a>
    <%end%>
<%end%>
